header {
  position: fixed;
  top: 0;
  background-color: #FFDD1C;
  width: 100%;
  height: 45px;
}
header h1 {
  font-size: 1.0625rem;
  color: #222;
  line-height: 40px;
}
header h1 .logo {
  margin-right: .5rem;
}
.top-bar .name h1 a {
  color: #222;
}

section[role="main"] {
  background: url(/img/kamon.png) no-repeat;
  background-size: contain;
  background-position: center;
}
.table {
  display: table;
  width: 100%;
}
.table-cell {
   display: table-cell;
  vertical-align: middle;
}
.table .panel {
  opacity: .8;
}
.elapsed-time {
  font-size: 4rem;
}

footer {
  position: fixed;
  bottom: 0;
  height: 45px;
  line-height: 45px;
  width: 100%;
}
footer .latest {
  display: block;
  width: 100%;
}
footer .latest .title {
  color: #222;
  margin-left: .5rem;
}
